canvas {
    border: solid;
    margin: auto;
    display: block;
  }
  
  #questionField {
    display: block;
    margin: 10px auto;
    font-size: 1.5em;
    width: 800px;
    white-space: pre-line;
  }
  
  aside {
    position: absolute;
    z-index: -2;
  }
  
  section {
    text-align: center;
  }
  
  input {
    font-size: 2em;
  }
  
  button {
    margin: 0 0 1em 1em;
    height: 30px;
    border-radius: 10px;
  }
  
  #message {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #dddddd90;
    z-index: 100;
  }
  
  #message > div {
    margin: 10% 25%;
    padding: 1em;
    width: 50%;
    font-size: 2em;
    position: absolute;
    background: white;
    display: none;
  }
  
  #message #intro { display: block }
  
  #message button {
    float: right;
  }
  
  #answerBlock div {
    text-align: left;
    margin-left: 40%;
  }
  
  aside > div {
    margin-bottom: 30px;
  }
  